.heading {
    font-size: 23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px grey;

}

.note{
    font-size: 15px;
    color: black;

}
.copy_right_footer{
    position:fixed;
    color:white;
    bottom:0%;
    width:100%;
    background-color:grey;
    line-height:3;
    text-align: center;

}
body
{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/984/880/small/abstract-colorful-geometric-overlapping-background-and-texture-free-vector.jpg");}


img{
    width:80px;
   height: 69px;;
    float:center;
}

    

       
    